body{
    background-color:#950d67;
    margin: 0px;
}




.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    }


.fotobox{
    width: 100%;
    height: 300px;
    justify-items: center;
    align-items:center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input{
    margin: 20px;
}
label{
    margin: 20px;
}
.regamine{
    display: flex;
    flex-direction: row;
}
form{
    margin-top: 100px;
    background-color: rgb(10, 10, 10);
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}
.forms{
    
}
.text{
    margin-top: 100px;
    padding: 100px;
}
h1{
    color: white;
}
input[type=submit] {
    background-color: blueviolet
    ;
}
.h2-2{
    margin-left: 20px;
}
